.add-ons{
    // border: 1px solid red;
    padding: 1em;

    h1{
        margin-bottom: .1em;
        color: $Marine-blue;
    }
    p{
        margin-bottom: 1em;
        color: $Cool-gray;
        font-size: .9rem;
    }

    &-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}